In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


misc_stats = pd.read_csv("squad_misc_stats.csv")
df = pd.read_csv("./src/data/scrapped_player_stats-18th-Aug.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   player      4120 non-null   object
 1   nation      3880 non-null   object
 2   pos         3880 non-null   object
 3   age         4117 non-null   float64
 4   mp          4120 non-null   int64
 5   starts      4120 non-null   int64
 6   min         3446 non-null   float64
 7   90s         3447 non-null   float64
 8   gls         3447 non-null   float64
 9   ast         3447 non-null   float64
 10  g+a         3447 non-null   float64
 11  g-pk        3447 non-null   float64
 12  pk          3447 non-null   float64
 13  pkatt       3447 non-null   float64
 14  crdy        3427 non-null   float64
 15  crdr        3427 non-null   float64
 16  xg          3436 non-null   float64
 17  npxg        3436 non-null   float64
 18  xag         3436 non-null   float64
 19  npxg+xag    3436 non-null   float64
 20  prgc        3436 non-null   float64
 21  prgp        3436 non-null   float64
 22  prgr        3436 non-null   float64
 23  gls.1       3446 non-null   float64
 24  ast.1       3446 non-null   float64
 25  g+a.1       3446 non-null   float64
 26  g-pk.1      3446 non-null   float64
 27  g+a-pk      3446 non-null   float64
 28  xg.1        3435 non-null   float64
 29  xag.1       3435 non-null   float64
 30  xg+xag      3435 non-null   float64
 31  npxg.1      3435 non-null   float64
 32  npxg+xag.1  3435 non-null   float64
 33  matches     3880 non-null   object
 34  Team        4120 non-null   object
 35  Season      4120 non-null   int64
dtypes: float64(28), int64(3), object(5)
memory usage: 1.1+ MB

In [4]:
df['nation'] = df['nation'].str.extract(r'([A-Z]{3})')

In [5]:
# List of columns with float64 dtype
float64_columns = ['age', 'min', '90s', 'gls', 'ast', 'g+a', 'g-pk', 'pk', 'pkatt', 'crdy', 'crdr', 'xg', 'npxg', 'xag', 'npxg+xag']

# Convert selected columns to float32 dtype
df[float64_columns] = df[float64_columns].fillna(0).astype('int')

In [6]:
df.info()
df = df.rename(columns=lambda x: x.lower())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   player      4120 non-null   object
 1   nation      3880 non-null   object
 2   pos         3880 non-null   object
 3   age         4120 non-null   int64
 4   mp          4120 non-null   int64
 5   starts      4120 non-null   int64
 6   min         4120 non-null   int64
 7   90s         4120 non-null   int64
 8   gls         4120 non-null   int64
 9   ast         4120 non-null   int64
 10  g+a         4120 non-null   int64
 11  g-pk        4120 non-null   int64
 12  pk          4120 non-null   int64
 13  pkatt       4120 non-null   int64
 14  crdy        4120 non-null   int64
 15  crdr        4120 non-null   int64
 16  xg          4120 non-null   int64
 17  npxg        4120 non-null   int64
 18  xag         4120 non-null   int64
 19  npxg+xag    4120 non-null   int64
 20  prgc        3436 non-null   float64
 21  prgp        3436 non-null   float64
 22  prgr        3436 non-null   float64
 23  gls.1       3446 non-null   float64
 24  ast.1       3446 non-null   float64
 25  g+a.1       3446 non-null   float64
 26  g-pk.1      3446 non-null   float64
 27  g+a-pk      3446 non-null   float64
 28  xg.1        3435 non-null   float64
 29  xag.1       3435 non-null   float64
 30  xg+xag      3435 non-null   float64
 31  npxg.1      3435 non-null   float64
 32  npxg+xag.1  3435 non-null   float64
 33  matches     3880 non-null   object
 34  Team        4120 non-null   object
 35  Season      4120 non-null   int64
dtypes: float64(13), int64(18), object(5)
memory usage: 1.1+ MB

In [7]:
df

,player,nation,pos,age,mp,starts,min,90s,gls,ast,...,g-pk.1,g+a-pk,xg.1,xag.1,xg+xag,npxg.1,npxg+xag.1,matches,team,season
0,Ederson,BRA,GK,28,35,35,3150,35,0,1,...,0.00,0.03,0.00,0.01,0.01,0.00,0.01,Matches,Manchester City,2022
1,Rodri,ESP,MF,26,36,34,2911,32,2,6,...,0.06,0.25,0.14,0.13,0.27,0.14,0.27,Matches,Manchester City,2022
2,Erling Haaland,NOR,FW,22,35,33,2769,30,36,8,...,0.94,1.20,0.92,0.17,1.10,0.75,0.92,Matches,Manchester City,2022
3,Kevin De Bruyne,BEL,MF,31,32,28,2417,26,7,16,...,0.26,0.86,0.21,0.51,0.72,0.21,0.72,Matches,Manchester City,2022
4,İlkay Gündoğan,GER,MF,31,31,27,2353,26,8,4,...,0.31,0.46,0.29,0.13,0.41,0.26,0.38,Matches,Manchester City,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,Alex Palmer,ENG,GK,20,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,West Bromwich Albion,2017
4116,Rayhaan Tulloch,ENG,MF,16,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,West Bromwich Albion,2017
4117,Kane Wilson,ENG,"DF,MF",17,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,West Bromwich Albion,2017
4118,Squad Total,NaN,NaN,29,38,418,3420,38,31,24,...,0.79,1.42,0.96,0.68,1.64,0.94,1.62,NaN,West Bromwich Albion,2017
4119,Opponent Total,NaN,NaN,26,38,418,3420,38,54,44,...,1.39,2.55,1.26,0.97,2.23,1.24,2.21,NaN,West Bromwich Albion,2017

In [8]:
df.to_csv('clean_player_data.csv', index=False)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   player      4120 non-null   object
 1   nation      3880 non-null   object
 2   pos         3880 non-null   object
 3   age         4120 non-null   int64
 4   mp          4120 non-null   int64
 5   starts      4120 non-null   int64
 6   min         4120 non-null   int64
 7   90s         4120 non-null   int64
 8   gls         4120 non-null   int64
 9   ast         4120 non-null   int64
 10  g+a         4120 non-null   int64
 11  g-pk        4120 non-null   int64
 12  pk          4120 non-null   int64
 13  pkatt       4120 non-null   int64
 14  crdy        4120 non-null   int64
 15  crdr        4120 non-null   int64
 16  xg          4120 non-null   int64
 17  npxg        4120 non-null   int64
 18  xag         4120 non-null   int64
 19  npxg+xag    4120 non-null   int64
 20  prgc        3436 non-null   float64
 21  prgp        3436 non-null   float64
 22  prgr        3436 non-null   float64
 23  gls.1       3446 non-null   float64
 24  ast.1       3446 non-null   float64
 25  g+a.1       3446 non-null   float64
 26  g-pk.1      3446 non-null   float64
 27  g+a-pk      3446 non-null   float64
 28  xg.1        3435 non-null   float64
 29  xag.1       3435 non-null   float64
 30  xg+xag      3435 non-null   float64
 31  npxg.1      3435 non-null   float64
 32  npxg+xag.1  3435 non-null   float64
 33  matches     3880 non-null   object
 34  team        4120 non-null   object
 35  season      4120 non-null   int64
dtypes: float64(13), int64(18), object(5)
memory usage: 1.1+ MB